body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #F5F5F5;
  max-width: 1920px;
}

#root {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiDataGrid-columnHeadersInner {
  width: 100%;
}

.charts {
  width: 90%;
  margin: 0 auto;
}
